[project]
	description = Nirvana project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tahir24434
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group user/tahir24434
	push = group Registered Users
	push = group user/tahir24434
	label-Code-Review = -2..+2 group user/tahir24434
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/tahir24434
	rebase = group user/tahir24434
	removeReviewer = group user/tahir24434
	submit = group user/tahir24434
[access "refs/heads/*"]
	read = group Anonymous Users
	read = group user/tahir24434
	create = group user/tahir24434
	push = group Registered Users
	push = +force group user/tahir24434
	pushMerge = group Registered Users
	pushMerge = group user/tahir24434
[access "refs/tags/*"]
	push = +force group user/tahir24434
	pushTag = group user/tahir24434
	pushSignedTag = group user/tahir24434
