; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "log/riemann.r1.log"})

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "127.0.0.1"]
(tcp-server {:host host :port 15555})
(udp-server {:host host :port 15555})
(ws-server  {:host host}))

; Expire old events from the index every 5 seconds.
(periodically-expire 10
    {:keep-keys [:raw_status :handler :tags :pgmsg :service :state :pgtype :description :PreviousState :pgtxn :ip
                 :startTime :time :pgname :pgstate :exit_status :host :ttl :pid :exited_service :version :metric :pgtype
                 :next_expected :name :type :mac :uuid :plugin_type :sd_name :my_host :domain_name :vnf_name]}
    )

; Include configuration from other files
;(include "../dht.clj")
(include "./plugins/concise_logs.clj")

